#### My Movies Africa Scallable Pipeline

In [274]:
# Importing the nesessary libraries
import pandas as pd
import numpy as np
import sqlalchemy
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.metrics.pairwise import linear_kernel,sigmoid_kernel,cosine_similarity
from ast import literal_eval

In [275]:
# Constructing an engine to work with in python as i query the database
engine=sqlalchemy.create_engine("mysql+pymysql://root:password@localhost:3306/movies")

In [276]:
# Reading the sql table containing content
df2=pd.read_sql_table("content",engine)
# Saving to CSV
df2.head(1)

,id,ref,service,type,title,synopsis,duration,endsat,year,trailer_url,...,pvod_price,pvodusd,premiereDate,rentalKesDiscount,rentalUsdDiscount,estKesDiscount,estUsdDiscount,isDiscountActive,pvodKesDiscount,pvodUsdDiscount
0,1,01af1718424ae08b,mctv,Feature Film,NAIROBI HALF LIFE,"The Award-winning Story of a young, aspiring A...",96,None,2012,_Z_51N3PIB4,...,0,0,,0.0,0.0,67.0,0.0,0,0.0,0.0

In [277]:
def data_cleaning(data):
    # Loading the dataset
    # content=pd.read_csv("Content.csv").drop(columns={"Unnamed: 0"})
    # Picking the important content
    other_content=data[['title','synopsis','genres','tags']]
    # # Cleaning the genres column
    cols=['Christmas Under Curfew','#OwnForLife Offer: KES199 or $1.99 (Diaspora)','26% Off in our Birthday Month','Madaraka Day Weekend Movie Marathon Offer',
    'Throwback Thursday Offer','GET 20% OFF THIS EID-AL-ADHA','Father\u2019s Day Offer','JENGA JIRANI CHARITY FESTIVAL','30% OFF THIS WACKY WEEKEND!',
    '30% Diwali Discounts','Family Screen Time','Huduma Day Offer!','Father\\u2019s Day Offer','Internationally Acclaimed','Kalasha Award Winners',
    'New Releases',"30% OFF THESE ROMANCES!","KWIBOHORA 27% DISCOUNT","TWOSDAY TREAT"]
    for i in cols:
        other_content['genres']=other_content['genres'].apply(lambda x : x.replace(i,''))
    # Replacing "Null" with a floating object NaN 
    other_content['genres']=other_content['genres'].replace('null',np.NaN)
    other_content['genres']
    # # Filling the null values in the genre category with uncategorized
    other_content['genres'].fillna("['Test']",axis=0,inplace=True)
    other_content['genres']
    # Stripping off string like elements in the  genres column
    from ast import literal_eval
    # The feature to be applied in
    features = ['genres']
    for feature in features:
        other_content[feature] = other_content[feature].apply(literal_eval)
    # Cleaning our genres column and removing the spaces between words
    def clean_genres(x):
        if isinstance(x,list):
            return [str.lower(i.replace(' ',''))for i in x]
    # The features to be applied in
    features=['genres']
    for feature in features:
        other_content[feature] = other_content[feature].apply(clean_genres)
    # Constructing a genre soup
    def create_soup(x):
        return ' '.join(x['genres'])
    # Creating a column with the genre soup
    other_content['genre_soup'] =other_content.apply(create_soup, axis=1)
    # Cleaning the synopsis column
    mark=['(',')',',','-','[','.','ft',"'",'?','.','"']
    for j in mark:
        other_content['synopsis']=other_content['synopsis'].apply(lambda x : x.replace(j,''))
        other_content['tags']=other_content['tags'].apply(lambda x : x.replace(j,''))
    # Creating soup with synopsis and tags
    other_content['soup'] = other_content[['synopsis','tags']].apply(lambda x: ','.join(x), axis=1)
    return other_content

In [278]:
clean_data=data_cleaning(df2)

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['genres']=other_content['genres'].apply(lambda x : x.replace(i,''))
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['genres']=other_content['genres'].replace('null',np.NaN)
C:\Python\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content[feature] = other_content[feature].apply(literal_eval)
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content[feature] = other_content[feature].apply(clean_genres)
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['genre_soup'] =other_content.apply(create_soup, axis=1)
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['synopsis']=other_content['synopsis'].apply(lambda x : x.replace(j,''))
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['tags']=other_content['tags'].apply(lambda x : x.replace(j,''))
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13676/1373099748.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_content['soup'] = other_content[['synopsis','tags']].apply(lambda x: ','.join(x), axis=1)

#### Making the recomender

In [279]:
def synopsis_recommender(title):
    Tfid1=TfidfVectorizer(
    strip_accents="unicode",
    lowercase=True,
    stop_words="english",
    min_df=2,
    ngram_range=(1,3))
    # Creating a sparse matrix of term frequencies in the synopsis
    tfid_mat_final=Tfid1.fit_transform(clean_data['soup'])
    tfid_mat_final
    # Creating a similarity matrix using dot product to compute similarity between the vectors created
    matrix=sigmoid_kernel(tfid_mat_final,tfid_mat_final) 
    # Now that we have a similarity matrix . We form a pandas series with movies and indices 
    movies_final=pd.Series(clean_data.index,index=clean_data['title']).drop_duplicates()
    movies_final
    # Mapping indexes to the movies
    index=movies_final[title]
    # Listing the movie index and the specific matrix matched
    movie_sim_score=list(enumerate(matrix[index]))
    # Sorting it in descending order
    sorted_score=sorted(movie_sim_score,key=lambda x:x[1],reverse=True)
    # Obtaining the top ten scores
    top_ten=sorted_score[1:11]
    # Movie indexes
    movie_indexes= [i[0] for i in top_ten]
    similar_movies=clean_data[["title","tags"]].iloc[movie_indexes]
    # Obtaining similar movies
    print(f"Because You've watched {title} .You May also Like: ")
    return similar_movies

In [280]:
synopsis_recommender("DISCONNECT")

Because You've watched DISCONNECT .You May also Like:

,title,tags
43,YOU AGAIN,Nick Mutuma Mimi Mars Kate Snow Amalie Chopett...
0,NAIROBI HALF LIFE,Joseph Wairimu Olwenya Maina Nancy Wanjiku Kar...
23,LUSALA,Brian Ogola Stycie Waweru Mkamzee Mwatela Alan...
46,WAKAMBA FOREVER,Alex “Warle” Maina Alfred Munyua Caroline Mbul...
67,BLURRED,Brenda Wairimu Keith Maina Grahame Kimani Bria...
95,"LOVE, ZAWADI x BLURRED",Brenda Wairimu Keith Maina Grahame Kimani Bria...
31,WAZI? FM,Joseph Wairimu Mahad Ahmed Hashi Lizz Njagah P...
34,KISSING SHADOWS,Anthony Monjaro Uche Ogbodo Malcom A Benson Ch...
13,Sauti Sol - Rewind ft Khaligraph Jones,Just a Band
61,IMAGINATION,Kennedy Shani Tita Banda Steven Chilufya Brend...

In [281]:
def genre_recommender(title):
    # Using the Count Vectorizer to find out the count of certain genres per movie
    count=CountVectorizer(stop_words='english')
    count_matrix = count.fit_transform(clean_data['genre_soup'])
    count_matrix.todense()
    count_matrix.shape
    # Getting the similarity matrix
    cosine_sim= cosine_similarity(count_matrix, count_matrix) 
    # Now that we have a similarity matrix . We form a pandas series with movies and indices 
    movies_final=pd.Series(clean_data.index,index=clean_data['title']).drop_duplicates()
    # Mapping indexes to the movies
    index=movies_final[title]
    # Listing the movie index and the specific matrix matched
    movie_sim_score=list(enumerate(cosine_sim[index]))
    # Sorting it in descending order
    sorted_score=sorted(movie_sim_score,key=lambda x:x[1],reverse=True)
    # Obtaining the top ten scores
    top_ten=sorted_score[1:11]
    # Movie indexes
    movie_indexes= [i[0] for i in top_ten]
    similar_movies=clean_data[["title","genre_soup"]].iloc[movie_indexes]
    # Obtaining similar movies
    # print(f"Because You've watched {title} .You May also Like")
    return similar_movies

In [282]:
genre_recommender("DISCONNECT")

                title                                         genre_soup
43          YOU AGAIN    chickflick comedy drama feelgood  newyear'sw...
84   QUEEN OF THE SUN                       comedy drama dramedy romance
90           14 PHERE          bollywood comedy  romance romanticcomedy
27      SIPHO DLAMINI                                      drama romance
34    KISSING SHADOWS                                      drama romance
70  MELTING THE HEART                                    drama   romance
89              CHUMO                                     drama  romance
8             NI SISI             comedy drama family  political romance
87  THE STRAIGHT PATH                 comedy drama dramedy  new! romance
93             PUAADA   bollywood comedy drama dramedy musical  roman...