In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
import sqlalchemy 
sqlalchemy.create_engine("mysql://root:password@localhost:3306/movies")

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql mysql://root:langtouma@localhost/mymoviesafrica

In [ ]:
sql_favourites = %sql SELECT * FROM favourites
sql_purchases = %sql SELECT * FROM purchases
sql_content = %sql SELECT * FROM content
sql_users = %sql SELECT * FROM users

 * mysql://root:***@localhost/mymoviesafrica
803 rows affected.
 * mysql://root:***@localhost/mymoviesafrica
2392 rows affected.
 * mysql://root:***@localhost/mymoviesafrica
101 rows affected.
 * mysql://root:***@localhost/mymoviesafrica
4666 rows affected.

In [ ]:
favourites = sql_favourites.DataFrame()
purchases = sql_purchases.DataFrame()
content = sql_content.DataFrame()
users = sql_users.DataFrame()

# Previewing the data

In [ ]:
 favourites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          803 non-null    int64
 1   content_id  803 non-null    int64
 2   user_id     803 non-null    int64
 3   createdon   803 non-null    datetime64[ns]
 4   deleted     803 non-null    object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 31.5+ KB

In [ ]:
 purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2392 non-null   int64
 1   user_id        2392 non-null   int64
 2   content_id     2392 non-null   int64
 3   invoice_id     2392 non-null   object
 4   currency       2392 non-null   object
 5   amount         2392 non-null   float64
 6   purchase_type  2392 non-null   object
 7   source         2379 non-null   object
 8   ipaddress      2377 non-null   object
 9   useragent      2377 non-null   object
 10  useragenttype  2377 non-null   object
 11  platform       2377 non-null   object
 12  createdon      2392 non-null   datetime64[ns]
 13  isHidden       2392 non-null   int64
 14  percDiscount   2388 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 280.4+ KB

In [ ]:
 content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 101 non-null    int64
 1   ref                101 non-null    object
 2   service            101 non-null    object
 3   type               101 non-null    object
 4   title              101 non-null    object
 5   synopsis           101 non-null    object
 6   duration           101 non-null    int64
 7   endsat             0 non-null      object
 8   year               101 non-null    int64
 9   trailer_url        101 non-null    object
 10  rating             101 non-null    int64
 11  genres             101 non-null    object
 12  countries          101 non-null    object
 13  language           101 non-null    object
 14  tags               101 non-null    object
 15  est                101 non-null    object
 16  rental             101 non-null    object
 17  est_price          100 non-null    float64
 18  rental_price       101 non-null    float64
 19  estusd             91 non-null     float64
 20  rentalusd          92 non-null     float64
 21  downloadable       101 non-null    object
 22  dubbing            101 non-null    object
 23  classification     101 non-null    object
 24  published          101 non-null    object
 25  keyref             92 non-null     object
 26  createdby          101 non-null    int64
 27  createdon          101 non-null    datetime64[ns]
 28  lasteditedby       101 non-null    int64
 29  lasteditedon       101 non-null    datetime64[ns]
 30  pvod               78 non-null     float64
 31  pvod_price         78 non-null     object
 32  pvodusd            78 non-null     object
 33  premiereDate       78 non-null     object
 34  rentalKesDiscount  87 non-null     float64
 35  rentalUsdDiscount  87 non-null     float64
 36  estKesDiscount     87 non-null     float64
 37  estUsdDiscount     87 non-null     float64
 38  isDiscountActive   101 non-null    int64
 39  pvodKesDiscount    87 non-null     float64
 40  pvodUsdDiscount    87 non-null     float64
dtypes: datetime64[ns](2), float64(11), int64(7), object(21)
memory usage: 32.5+ KB

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4666 entries, 0 to 4665
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4666 non-null   int64
 1   fullname      4666 non-null   object
 2   email         4666 non-null   object
 3   phone         4572 non-null   object
 4   photo_url     3042 non-null   object
 5   birthday      1629 non-null   object
 6   locale        4666 non-null   object
 7   currency      4666 non-null   object
 8   ref_id        1762 non-null   object
 9   token         4661 non-null   object
 10  password      0 non-null      object
 11  fcm_token     498 non-null    object
 12  createdon     4666 non-null   datetime64[ns]
 13  lasteditedon  4666 non-null   datetime64[ns]
 14  isTest        4666 non-null   int64
 15  isMedia       4666 non-null   int64
dtypes: datetime64[ns](2), int64(3), object(11)
memory usage: 583.4+ KB

In colaborative filtering we need user-movie interactions. Since we don't have ratings, we will define a user interaction as either purchasing or favouring (adding a movie in favourites) a movie

In [ ]:
# How many users are there?
users['id'].nunique()

4666

In [ ]:
# How many users have made purchases?
purchases['user_id'].nunique()

1647

In [ ]:
# How many users have added movies in favourites?
favourites['user_id'].nunique()

462

In [ ]:
# How many users have interacted with a movie?
pd.concat([purchases['user_id'], favourites['user_id']], ignore_index=True).nunique()

1780

In [ ]:
# How many movies are there?
content.shape[0]

101

In [ ]:
# How many movies have been purchased?
purchases['content_id'].nunique()

74

In [ ]:
# How many movies have been added to favourites?
favourites['content_id'].nunique()

69

In [ ]:
# How many movies have been interacted with?
pd.concat([purchases['content_id'], favourites['content_id']], ignore_index=True).nunique()

76

In [ ]:
favourites['deleted'].value_counts()

0    795
1      8
Name: deleted, dtype: int64

In [ ]:
# Removing records where someone removed a movie from favourites
favourites = favourites[favourites['deleted'] == '0']

In [ ]:
# Creating a dataframe with the movies that users have interacted with
interactions = pd.concat([purchases[['user_id', 'content_id']], favourites[['user_id', 'content_id']]], ignore_index=True)
interactions.head(10)

   user_id  content_id
0        1           1
1        1           9
2        1          31
3        1           7
4        1          28
5        1          29
6        1          30
7        1          25
8       39          31
9       41          31

In [ ]:
# There are users who have both purchased and favoured a movie, so there are duplicates that we need to drop
interactions.drop_duplicates(inplace=True)

502

In [ ]:
interactions.head()

   user_id  content_id  interact
0        1           1         1
1        1           9         1
2        1          31         1
3        1           7         1
4        1          28         1

In [ ]:
interactions['interact'] = 1

In [ ]:
usercontent = pd.pivot_table(interactions, index=['user_id'], columns=['content_id'], values=['interact'], fill_value=0)

In [ ]:
usercontent.head()

           interact                                      ...                  \
content_id      1   2   3   4   5   6   7   8   9   10   ... 89  90  91  95
user_id                                                  ...
0                 0   0   0   0   0   1   0   0   0   0  ...   0   0   0   0
1                 1   1   0   1   0   1   1   0   1   0  ...   0   0   0   0
6                 0   1   1   1   1   1   1   1   1   1  ...   0   0   0   0
7                 0   1   0   0   0   0   1   1   0   1  ...   0   0   0   0
10                1   0   0   1   1   1   0   0   0   0  ...   0   0   0   0


content_id 97  98  99  101 103 108
user_id
0            0   0   0   0   0   0
1            0   0   0   0   0   0
6            0   0   0   0   0   0
7            0   0   0   0   0   0
10           0   1   0   1   0   0

[5 rows x 76 columns]

In [ ]:
usercontent.columns = usercontent.columns.get_level_values(1)

In [ ]:
usercontent.head()

content_id,1,2,3,4,5,6,7,8,9,10,...,89,90,91,95,97,98,99,101,103,108
user_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
usercontent.shape

(1780, 76)

In [ ]:
from sklearn.metrics import pairwise_distances
distances = pairwise_distances(usercontent, metric='hamming')

In [ ]:
distances = pd.DataFrame(distances, columns=usercontent.index.tolist(), index=usercontent.index.tolist())

In [ ]:
distances.head()

,0,1,6,7,10,11,12,13,15,16,...,4642,4643,4646,4651,4657,4658,4663,4664,4667,4668
0,0.000000,0.184211,0.118421,0.105263,0.447368,0.000000,0.039474,0.052632,0.039474,0.039474,...,0.039474,0.039474,0.039474,0.065789,0.039474,0.039474,0.039474,0.039474,0.052632,0.078947
1,0.184211,0.000000,0.171053,0.184211,0.473684,0.184211,0.171053,0.157895,0.171053,0.144737,...,0.197368,0.197368,0.171053,0.197368,0.197368,0.197368,0.197368,0.197368,0.184211,0.210526
6,0.118421,0.171053,0.000000,0.092105,0.513158,0.118421,0.131579,0.118421,0.105263,0.105263,...,0.131579,0.131579,0.105263,0.157895,0.131579,0.131579,0.131579,0.131579,0.144737,0.144737
7,0.105263,0.184211,0.092105,0.000000,0.500000,0.105263,0.092105,0.157895,0.065789,0.092105,...,0.092105,0.092105,0.092105,0.118421,0.092105,0.092105,0.092105,0.092105,0.105263,0.105263
10,0.447368,0.473684,0.513158,0.500000,0.000000,0.447368,0.460526,0.421053,0.486842,0.460526,...,0.486842,0.486842,0.460526,0.434211,0.460526,0.486842,0.486842,0.460526,0.473684,0.473684

In [ ]:
distances.nsmallest(10, 0)[[0]]

            0
0    0.000000
11   0.000000
28   0.013158
100  0.013158
129  0.013158
262  0.013158
282  0.013158
292  0.013158
337  0.013158
420  0.013158

In [ ]:
distances.nsmallest(10, 0)[[0]].index.tolist()

[0, 11, 28, 100, 129, 262, 282, 292, 337, 420]

In [ ]:
movieindex = []
for i in distances.nsmallest(20, 0)[[0]].index.tolist():
    movieindex.append(interactions[interactions['user_id'] == i]['content_id'].values)

In [ ]:
interactions[interactions['user_id'] == 11]['content_id'].values

array([41,  6], dtype=int64)