In [76]:
# Connecting to the My SQL sever to query the database.
import sqlalchemy
# creating a connection engine
sqlalchemy.create_engine("mysql://root:password@localhost:3306/movies")

Engine(mysql://root:***@localhost:3306/movies)

In [77]:
# Loading the previously installed sql module
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [78]:
# Connecting to the database with a connection string
%sql mysql://root:password@localhost:3306/movies

In [80]:
# # Selecting the content table from the database
query= %sql SELECT * FROM content 
dataframe=query.DataFrame()
dataframe.head()

 * mysql://root:***@localhost:3306/movies
101 rows affected.

,id,ref,service,type,title,synopsis,duration,endsat,year,trailer_url,...,pvod_price,pvodusd,premiereDate,rentalKesDiscount,rentalUsdDiscount,estKesDiscount,estUsdDiscount,isDiscountActive,pvodKesDiscount,pvodUsdDiscount
0,1,01af1718424ae08b,mctv,Feature Film,NAIROBI HALF LIFE,"The Award-winning Story of a young, aspiring A...",96,None,2012,_Z_51N3PIB4,...,0,0,,0.0,0.0,67.0,0.0,0,0.0,0.0
1,2,174e049ecf3957a9,mctv,Feature Film,KATUTURA,"In this Township of Windhoek, ex-convict Dangi...",101,None,2016,My3tUYzIj2Q,...,None,None,None,0.0,0.0,0.0,0.0,1,0.0,0.0
2,3,ba662ae6e76c60c9,mctv,Feature Film,SOUL BOY,This is the story of 14 year-old Abila (Samson...,61,None,2010,2GT4Rgq-cOY,...,0,0,,0.0,0.0,67.0,0.0,0,0.0,0.0
3,4,18c85b24406962a9,mctv,Feature Film,KATI KATI,"A young woman - Kaleche (Nyokabi Gethaiga), wi...",75,None,2016,RrvbJKcvovE,...,0,0,,0.0,0.0,67.0,0.0,0,0.0,0.0
4,5,facbcaa78cb1bd4a,mctv,Feature Film,SOMETHING NECESSARY,"Award-winning Director Judy Kibinge, tells the...",81,None,2013,ckdS9PEkoQQ,...,0,0,,0.0,0.0,0.0,0.0,1,0.0,0.0